# Filter snippets contain a few filter rules.
# Snippets of configuration will be saved in the "Profiles" subdirectory of "Quantumult X".
# You can link the snippets to the main configuration profile.
# You can check the sample snippets at https://raw.githubusercontent.com/crossutility/Quantumult-X/master/filter.snippet
 
 geoip, cn, direct
 
;host, www.example.com, direct
